      <hr>
      <div>
        <br /> CST336 Internet Programming. 2020&copy; Krepelka <br />
        <strong>Disclaimer:</strong> For academic purposes only.<br>
        The information in this page might be inaccurate.<br>
      </div>
      <img  src="img/CSUMB_Logo.png" alt="CSUMB Logo" />
      </div>
    </body>
</html>