<%- include('partials/header.ejs') %>
    <h1> Go </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/goLogo.png" alt="Go Logo"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                Go, aka googles language, was created as an open source code project by a team of google engineers with the 
                stated goal of "making programmers more productive." Its main defining feature is its focus on concurrent execution. 
                By speeding up the compilation and execution of code less of an engineers' valuable time is spent idle.
                <br><br>
                <blockquote class="blockquote">
                  <p class="mb-0">One of Go's key design goals is code adaptability; that it should be easy to take a simple design and build upon it in a clean and natural way.
                  <footer class="blockquote-footer"><cite title="Source Title">golang.org</cite></footer>
                </blockquote>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Source of information: <a href="https://golang.org/" class="text-secondary"> golang.org </a>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>