<%- include('partials/header.ejs') %>
    <h1> Kotlin </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/kotlinLogo.png" alt="Kotlin Logo"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                Kotlin aims to reduce so-called "boilerplate" code and keep you safe from yourself. It accomplishes these 
                goals well and is gaining a larger user base in recent years.
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Source of information: <a href="https://kotlinlang.org/" class="text-secondary"> Kotlinlang.org </a>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>