<%- include('partials/header.ejs') %>
    <h1> Python </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/pythonLogo.png" alt="Python Logo"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                Python is a relatively simple language thats purpose is to be robust enough to do whatever you want with it 
                but simple enough that doing so doesnt take a million years. It does this by leveraging a huge amount of 
                libraries. The language has a core set of functionalities and a library for 
                whatever else you need. And its simple enough that its being used to introduce many new programmers to the 
                capabilities of code.
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Source of information: <a href="https://www.python.org/about/apps/" class="text-secondary"> Python.org </a>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>