<%- include('partials/header.ejs') %>
    <h1> Swift </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/swiftLogo.png" alt="Swift Logo"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                Swift aims to be an easy to learn language that is complex enough to handle a robust workload. It is 
                the primary language used to develop for ios and a good general purpose language.
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Source of information: <a href="https://developer.apple.com/swift/" class="text-secondary"> Apple.com </a>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>